<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>
		USTC权益柜
	</title>

	<link rel="stylesheet" type="text/css" href="../static/sty.css">

	
	<meta http-equiv="Pragma" content="no-cache">
</head>
<body id="MainPage">
	<div class="Page Title">
		<ul class="directory">
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/" class="directory">USTC权益柜</a>
			</li>
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/#" class="directory">失物招领</a>
			</li>
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/#" class="directory">权益投诉</a>
			</li>
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/#" class="directory">柜君tips</a>
			</li>
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/#" class="directory">Q&amp;A</a>
			</li>
			<li class="directory">
				<a href="http://home.ustc.edu.cn/~erchius_jzy/UIdemo/#" class="directory">我的</a>
			</li>
		</ul>
	</div>
	<div class="Page" style="background-color: #f8f8f8;" id="pagecontent">
		<div class="items">
			<ul class="items">
				<li class="items">
					<a class="items">
						<p class="half">这里放文字(整个区域是一个超链接，url用js或者后端生成)</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
			</ul>
			<ul class="items">
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
				<li class="items">
					<a class="items">
						<p class="half">这里放文字</p>
						<p class="half">这里放图片</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body></html>