<!DOCTYPE html>
<head>
	<title>
		USTC权益柜
	</title>

	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="MainPage">
	<!-- script type="text/javascript" src="../static/directory.js"></script-->
	<div class="Page Title">
		<ul class="directory">
			<li class="directory"><a href="#" class="directory">
					<div style="float: left;margin-top: 15px;width: auto;">
						<p style="width:100%;text-align: center;">USTC权益柜</p>
					</div><img src="../static/icon.jpg" style="height: 80px;float: right;" />
				</a></li>
			<li class="directory"><a href="../lf/" class="directory">寻物失物</a></li>
			<li class="directory"><a href="../report/" class="directory">权益投诉</a></li>
			<li class="directory"><a href="../tips/" class="directory">柜君tips</a></li>
			<li class="directory"><a href="../qa/" class="directory">Q&A</a></li>
			<li class="directory"><a href="../user" class="directory">我的</a></li>
			<li class="directory"><button class="directory" id="logout">退出登陆</button></li>
		</ul>
	</div>
	<div class="Page">
		<form accept-charset="UTF-8" name="search" class="search" id="search">
			<div style="width: 20%;float: left;" >
				<input type="radio" name="type" value="L"/>寻找失物<br/><br/>
				<input type="radio" name="type" value="F"/>找到物品
			</div>
			<div style="width: 60%;float: left;">
				物品名称：<input type="text" name="name"/><br/>
				时间：<input type="date" name="date"><br/>
				地点：<input type="text" name="place"><br/>
			</div>
			<input type="submit" name="submit" value="搜索一下">
		</form>
		<script type="text/javascript">
			$(function () {
				$('form').on('submit',function (e) {
					console.log($('input[name=type]').val())
					console.log($('input[name=name]').val())
					console.log($('input[name=date]').val())
					console.log($('input[name=place').val())
					e.preventDefault();
				});
			});
			$(document).ready(function(){
				$("#logout").click(function(){
					$.ajax({
						type: "POST",
						url: "../api/auth/logout/",
						data: {},
						dataType: "JSON",
						success: function(result) {
							$(location).attr('href', '/lf/');
						},
						error: function(result) {
							alert('发生错误');
						}
					});
				});
			});
		</script>
	</div>
	<div id="issue" class="item">
		<p style="text-align: center">
			<a href="release/" class="main"> 我要发贴 </a>
		</p>
	</div>
	<div class="Page" style="background-color: #f8f8f8;" id="pagecontent">
		<script type="text/javascript" src="../static/mainpage.js"></script>
	</div>
	<script type="text/javascript" src="../static/pagebuttom.js"></script>
</body>