<!DOCTYPE html>
<head>
	<title>
		USTC权益柜
	</title>

	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="MainPage">
	<script type="text/javascript" src="../static/directory.js"></script>
	<div class="Page">
		<form accept-charset="UTF-8" name="search" class="search" id="search">
			<div style="width: 20%;float: left;" >
				<input type="radio" name="type" value="L"/>寻找失物<br/><br/>
				<input type="radio" name="type" value="F"/>找到物品
			</div>
			<div style="width: 60%;float: left;">
				物品名称：<input type="text" name="name"/><br/>
				时间：<input type="date" name="date"><br/>
				地点：<input type="text" name="place"><br/>
			</div>
			<input type="submit" name="submit" value="搜索一下">
		</form>
		<script type="text/javascript">
			$(function () {
				$('form').on('submit',function (e) {
					console.log($('input[name=type]').val())
					console.log($('input[name=name]').val())
					console.log($('input[name=date]').val())
					console.log($('input[name=place').val())
					e.preventDefault();
				});
			});
	</script>
	</div>
	<div id="log"></div>
	<div class="Page" style="background-color: #f8f8f8;" id="pagecontent">
		<script type="text/javascript" src="../static/mainpage.js"></script>
	</div>
	<script type="text/javascript" src="../static/pagebuttom.js"></script>
</body>