<!DOCTYPE html>
<head>
	<title>
		USTC权益柜
	</title>

	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<!--script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> 发帖页面（但是还没做好）</h1>
    <form action="/api/lf/release/" method="post">
        标题：<input name="stu_id" placeholder="标题" type="text" value="" /> <br/>
        时间：最早<input type="date" name="date_old"/>最晚<input type="date" name="date_new"/><br/>
        地点：<input name="stu_id" placeholder="地点" type="text" value="" /> <br/>
        内容：<input name="stu_id" placeholder="内容" type="text" value="" /> <br/>
        图片：<input name="stu_id" placeholder="图片" type="text" value="" /> <br/>
        类型：<input name="stu_id" placeholder="类型" type="text" value="" /> <br/>
        是否公开：<input type="radio" name="type" value="L"/>是
		<input type="radio" name="type" value="F"/>否
    </form>
    <button> 按这里发不了帖 </button>
</body>
