<!DOCTYPE html>
<head>
	<title>
		USTC权益柜
	</title>

	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<!--script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> 发帖页面（但是还没做好）</h1>
    <form action="/api/lf/release/" method="post">
        <input name="stu_id" placeholder="标题" type="text" value="" />
        <input name="stu_id" placeholder="时间" type="text" value="" />
        <input name="stu_id" placeholder="地点" type="text" value="" />
        <input name="stu_id" placeholder="内容" type="text" value="" />
        <input name="stu_id" placeholder="图片" type="text" value="" />
        <input name="stu_id" placeholder="类型" type="text" value="" />
        <input name="stu_id" placeholder="是否公开" type="text" value="" />
    </form>
    <button> 按这里发不了帖 </button>
</body>