<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USTC权益柜-Q&A</title>
	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="MainPage">
	<script type="text/javascript" src="../static/directory.js"></script>
	<script type="text/javascript" src="../static/qa.js"></script>
	<div class="Page">
		<ul class="Q&A directory">
			<li class="Q&A questions" id="QA1">
				<a href="" class="items"><p><input type="date" name="date" value="2022-03-06" disabled/>五教水龙头没水了</p><p>已经解决</p></a>
			</li>
			<li class="Q&A questions" id="QA2"></li>
		</ul>
	</div>
	<div class="Page"></div>
	<script type="text/javascript" src="../static/pagebuttom.js"></script>
</body>
</html>