<!DOCTYPE html>
<html>
<head>
<title> USTC权益柜</title>
<link rel="stylesheet" type="text/css" href="../static/sty.css"> 
<script type="text/javascript" scr="https://apps.bdimg.com.libs/jquery/2.14/jquery.min.js"></script>
<meta http-equiv ="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<h1>  我要发帖</h1>
<div >
   <form action="http://127.0.0.1:8000/report/complaints" method="post" >
   请输入标题</br>
   <input name="stu_id"  type="text" value="无标题"></br>
   请输入正文</br>
   <textarea rows="10" cols="70">
请输入您想要吐槽的内容......
</textarea>
   </br>
   图片</br>
   <input name="stu_id"  type="text" value="无"></br>
   <input type="submit" value="点击发帖">
  </form>
  <script type="text/javascript">
  </script>
</div>
</body>
</html>