<!DOCTYPE html>
<html>
<head>
<title> USTC权益柜</title>
<link rel="stylesheet" type="text/css" href="../static/sty.css">
<script type="text/javascript" scr="https://apps.bdimg.com.libs/jquery/2.14/jquery.min.js"></script>
<meta http-equiv ="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body id="MainPage">
       <script type="text/javascript" src="../static/directory.js"></script>
<style>
.complaints
{
    list-style-type:none;
    background-color:white;
    width:1000px;
    font-size:16px; 
     margin:100px auto
}
</style>

</br>
<div class="Page" id="issue" class="item">
       <div style="width: 80%;margin: 0 10%;overflow: hidden;height: 60px;">
              <a href="./report_release" class="main" style="display: block;background-color: #eeeeee;width: 100%;height: 100%;text-decoration: none;position: 0 0;text-align: center;color: #ffffff;" id="link_release"><br/>我要吐槽</a>
       </div>
</div>

<!-- <div class="Page" style="background-color: #f8f8f8;" id="pagecontent">
       <script type="text/javascript" src="../static/mainpage.js"></script>
</div> -->
<script type="text/javascript" src="../static/pagebuttom.js"></script>
</body>

</html>


