<!DOCTYPE html>
<html>
<head>
	<title> USTC权益柜</title>
	<link rel="stylesheet" type="text/css" href="../static/sty.css"> 
	<script type="text/javascript" scr="https://apps.bdimg.com.libs/jquery/2.14/jquery.min.js"></script>
	<meta http-equiv ="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script type="text/javascript" src="../static/releaseapicall.js"></script>
</head>

<body>
	<script type="text/javascript" src="../static/directory.js"></script>
	<h1>我要投诉</h1>
	<div class="Page">
		<form action="http://127.0.0.1:8000/report/complaints" method="post" >
		<p class="two">请输入标题</p>
		<input class="one" name="stu_id"  type="text" id="" value="" placeholder="无标题"></br>
		<p class="two">请输入正文</p>
		<textarea class="three" rows="10" cols="70" id="" value="" >请输入您想要吐槽的内容</textarea>
		</br>
		<p class="two">图片</p>
		<input type="file" class="form-control" id="file" name="file" th:οnchange="javascript:preview(this)">
		</br></br>
		<button>点击发帖</button>
		</form>
		<script type="text/javascript" scr="https://apps.bdimg.com.libs/jquery/2.14/jquery.min.js"></script>
	</div>
</body>
</html>