<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USTC权益柜-柜君tips</title>
	<link rel="stylesheet" type="text/css" href="../static/sty.css">
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="MainPage">
	<script type="text/javascript" src="../static/directory.js"></script>
	<script type="text/javascript" src="../static/tips.js"></script>
	<div class="Page">
		<ul class="Q&A directory">
		</ul>
	</div>
	<div class="Page Turn" align="center">
		<div style="margin: 0 auto;" align="center">
			<input type="button" name="turnleft" value="<" />
			<input type="button" name="currentpage" value="" disabled/>
			<input type="button" name="turnright" value=">"/>
		</div>
	</div>
	<script type="text/javascript" src="../static/pagebuttom.js"></script>
</body>
</html>